body{
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  }
  
  .header{
      margin: 0;
      background:black;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      
      }
      .line-button{
          width: 38px;
          height: 30px;
          background: black;
          cursor: pointer;
          border: none;
      
          margin-right: 20px;
          margin-left: 40px;
      }
      .line-button:hover {
          background-color: #808080;
      }
      .icon{
          
          
      
      width: 40px;
      
      margin-left: 30px;
      display: flex;
      align-items: center;
  }
        
      
      
      .Youtube{
          font-size: 30px;
          display: flex;
          align-items: center;
          text-decoration:none;
          color: white;
      }
      .in{
       
          display: flex;
          align-items: center;
      
          
      }
      .search{
          width: 700px;
      height: 45px;
      border: white;
      font-size: 23px;
      margin-left: 130px;
      padding-left: 20px;
      border-bottom-left-radius: 30px;
      border-start-start-radius: 30px;
      }
      .lens-button{
          width: 50px;
          height: 38px;
          margin-bottom: 1px;
      }
      .search-logo{
          border-end-end-radius: 110px;
          border-top-right-radius: 110px;
          border: black;
          border-end-end-radius: 110px;
          border-top-right-radius: 110px;
          border: black;
          background: white;
          padding-top: 2px;
          padding-bottom: 2px;;
          padding-top: 2px;
          padding-bottom: 2px;
          cursor: pointer;
      }
      
      .microphone{
          width: 50px;
          height: 50px;
          border-radius: 50px;
          margin-left: 10px;
          cursor: pointer;
      }
      .upload{
          width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-left: 10px;
      cursor: pointer;
      }
  
      .container{
         
      }
      
      
      .left-side{
          width: 20%;
      height: 2100px;
      background: black;
  
      }
      .notification{
          width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-left: 10px;
      cursor: pointer;
  }
  .email{
      width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 10px;
  background: #00aaa7;
  cursor: pointer;
  }
      .home{
      margin-left: 40px;
      margin-top: 50px;
      
      background: black;
      border: none;
      cursor: pointer;
      }
      .home-text{
          margin-left: 50px;
      text-decoration: none;
      color: white;
      font-size: 19px;
      cursor: pointer;
      }
      .shorts-text{
  
          display: inline-block;
      font-size: 18px;
      margin-left: 45px;
      text-decoration: none;
      color: white;
  
      }
      .shorts{
          background: black;
      border: none;
      margin-left: 38px;
      margin-top: 20px;
      cursor: pointer;
      }
      .subscription{
          background: black;
          border: none;
          margin-left: 36px;
          margin-top: 16px;
          cursor: pointer;
      }
  
     .subscription-text{
      display: inline-block;
      font-size: 19px;
      text-decoration: none;
      color: white;
      margin-left: 47px
      
     }
     .hr-line{
      margin-top: 30px;
     }
    .you-button{
      background: black;
      color: white;
      border: none;
      font-size: 18px;
      margin-top: 12px;
      margin-left: 30px;
      cursor: pointer;
    }
    .history{
      background: black;
      border: none;
    }
  .history-text{
    display: inline-block;
      margin-left: 56px;
      font-size: 20px;
      text-decoration: none;
      margin-top: 30px;
      color: white;
  }
  .history-icon{
      margin-left: 30px;
      cursor: pointer;
  }
  .watch-later-icon{
  margin-left: 29px;
  }
  .watch-later-text{
      display: inline-block;
      text-decoration: none;
      color: white;
      font-size: 18px;
      margin-left: 56px;
      margin-top: 25px;
  }
  .watch-later{
      background: black;
      border: none;
  }
  .liked-videos{
    
      background: black;
      border: none;
  }
  .liked-videos-icon{
      background: black;
      width: 27px;
      margin-left: 30px;
      margin-top: 19px;
      cursor: pointer;
  }
  .liked-videos-text{
      display: inline-block;
      font-size: 18px;
      margin-left: 56px;
      text-decoration: none;
      color: white;
  }
  .hr-line2{
      margin-top: 30px;
  }
  .first-h1{
  
      color:white;
      font-size: 20px;
      margin-left: 33px;
      margin-top: 30px;
  }
  .trending{
      background: black;
      border: none;
  }
  .trending-icon{
      width: 27px;
      margin-left: 27px;
      margin-top: 19px;
  }
  
  .trending-text{
      font-size: 20px;
      display: inline-block;
      margin-left: 59px;
      text-decoration: none;
      color: white;
  }
  .shopping{
      background: black;
      border: none;
  }
  .shopping-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;
  }
  
  .shopping-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .music{
     background: black;
     border: none;
  }   
  .music-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .music-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px
  }
  .films{
     background: black; 
     border: none;
  }
  .films-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;
  
  }
  .films-text{
   
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  
  }
  .live{
  
      background: black;
      border: none;
  }
     .live-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;
  
  }
  .live-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .gaming{
      background: black;
      border: none;
  }
  .gaming-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;  
  }
  .gaming-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .news{
      background: black;
      border: none; 
  }
  .news-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;  
  }
  .news-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .sport{
  
      background: black;
      border: none; 
  }
  .sport-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;  
  }
  .sport-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .learning{
      background: black;
      border: none; 
  }
  .learning-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;  
  }
  .learning-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .fashion{
      background: black;
      border: none; 
  }
     
  .fashion-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;  
  
  }
  .fashion-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .podcast{
      background: black;
      border: none; 
  }
  .podcast-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;  
  }
  .podcast-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  
  .hr3{
      margin-top: 30px;
  }
  .second-h2{
      
      color:white;
      font-size: 20px;
      margin-left: 33px;
      margin-top: 30px;
  }
  .youtube-premium{
      background: black;
      border: none; 
  }
  .premium-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px;  
  }
  .premium-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .youtube-music {
      display: flex; /* Use flexbox to align items in a row */
      align-items: center; /* Center items vertically */
      text-align: left; /* Align text to the left */
      margin-top: 30px;
      border: none; /* Adjust as needed */
      background: black;
  }
  
  .youmusic-icon {
      width: 33px; /* Adjust the width of the icon as needed */
      height: auto; /* Adjust the height of the icon as needed */
      margin-left: 20px; /* Adjust the margin between the icon and text */
      display: flex; /* Use flexbox to align items in a row */
      align-items: center; /* Center items vertically */
      text-align: left; 
  }
  
  .youmusic-text {
      text-decoration: none;
      color: white;
      font-size: 20px;
      margin-left: 61px;
  
  }
     .youtube-kids{
      background: black ;
      border: none;
     }
     .youtube-kids{
      display: flex; /* Use flexbox to align items in a row */
      align-items: center; /* Center items vertically */
      text-align: left; /* Align text to the left */
      margin-top: 3px;
      border: none; /* Adjust as needed */
      background: black;
     }
     .kids-icon{
      width: 33px; /* Adjust the width of the icon as needed */
      height: auto; /* Adjust the height of the icon as needed */
      margin-left: 20px; /* Adjust the margin between the icon and text */
      display: flex; /* Use flexbox to align items in a row */
      align-items: center; /* Center items vertically */
      text-align: left; 
     }
     .kids-text {
      text-decoration: none;
      color: white;
      font-size: 20px;
      margin-left: 61px;
     }
     .hr4{
      margin-top: 30px;
     }
     .settings{
      background: black;
      border: none;
     }
     .settings-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px ; 
     }
     .settings-text{
  
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
     }
     .Report-history{
      background: black;
      border: none;
     }
     .report-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px ; 
     }
     .report-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
     }
     .help{
      background: black;
      border: none;
     }
     .help-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px ; 
     }
  .help-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .send-feedback{
      background: black;
      border: none;
  }
  .feedback-icon{
      width: 27px;
      margin-left: 25px;
      margin-top: 29px ; 
  }
  .feedback-text{
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 59px;
  }
  .hr{
      margin-top: 30px;
  }
  .para1{
      color: white;
      margin-left: 35px;
  }
  .para2{
      color: white;
      margin-left: 34px;
  }
  .container{
     display: flex;
  }
  
  
  .leftside{
      width: 20%;
      height: 2100px;
      background: black;
  }
  .right-side{
      width: 80%;
      background:black;
      height: 2100px;
  }
  .video1{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .h2{
      color: white;
      margin-top: 50px;
      margin-left: 40px;
  
  }
  .video2{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video3{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video4{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video5{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video6{
  
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video7{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video8{
  
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video9{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video10{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video11{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video12{
  
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video13{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video14{
  
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video15{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video16{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video17{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video18{
  
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video19{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video20{
  
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video21{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video22{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video23{
  
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  .video24{
      margin-left: 40px;
      width: 350px;
      height: 250px;
  }
  
  .button-meta{
      background: white;
      border: none;
      margin-left: 150px;
      margin-top: 50px;
      width: 100px;
      height: 50px;
    }
    
    
    
      .mentorship{
        float: right;
        margin-right: 350px;
        margin-top: 80px;
        font-size: 20px;
      }
      
    
    .icon-meta{
      width: 70px;
    }
    .say-hello{
      margin-left: 450px;
      float: right;
    }
    